@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pirata One";
  src: url("./fonts/PirataOne-Regular.ttf");
}

.font-pirata {
  font-family: "Pirata One";
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./fonts/BarlowCondensed-Black.ttf");
  font-weight: black;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./fonts/BarlowCondensed-BlackItalic.ttf");
  font-weight: black;
  font-style: italic;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./fonts/BarlowCondensed-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./fonts/BarlowCondensed-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./fonts/BarlowCondensed-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./fonts/BarlowCondensed-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./fonts/BarlowCondensed-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./fonts/BarlowCondensed-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./fonts/BarlowCondensed-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./fonts/BarlowCondensed-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./fonts/BarlowCondensed-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./fonts/BarlowCondensed-Medium.ttf");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./fonts/BarlowCondensed-MediumItalic.ttf");
  font-weight: medium;
  font-style: italic;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./fonts/BarlowCondensed-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./fonts/BarlowCondensed-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./fonts/BarlowCondensed-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./fonts/BarlowCondensed-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./fonts/BarlowCondensed-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

.barlow-condensed {
  font-family: "Barlow Condensed", sans-serif;
}

.barlow-condensed-black {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
}

.barlow-condensed-black-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.barlow-condensed-bold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
}

.barlow-condensed-bold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  font-style: italic;
}

.barlow-condensed-extra-bold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
}

.barlow-condensed-extra-bold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-condensed-extra-light {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
}

.barlow-condensed-extra-light-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-condensed-light {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
}

.barlow-condensed-light-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-condensed-medium {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: medium;
}

.barlow-condensed-medium-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: medium;
  font-style: italic;
}

.barlow-condensed-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-style: italic;
}

.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: normal;
}

.barlow-condensed-semi-bold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
}

.barlow-condensed-semi-bold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-condensed-thin {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
}

.barlow-condensed-thin-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: italic;
}